.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
  min-height: 0;
}
.freeBox__zez4A {
  max-width: 1140px;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__jnEcS {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100vw;
  background: var(--token-eCJIU6Zp-_EqB);
}
.freeBox__jnEcS > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__jnEcS > :global(.__wab_flex-container) > *,
.freeBox__jnEcS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jnEcS > :global(.__wab_flex-container) > picture > img,
.freeBox__jnEcS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__yDw2Q {
  max-width: 1140px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.productCarousel:global(.__wab_instance) {
  position: relative;
  margin-bottom: 64px;
  margin-top: 16px;
}
.freeBox__dhXml {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 64px;
  margin-bottom: 64px;
}
.text__uN6Lw {
  position: relative;
  color: var(--token-RlI9h6xM65mqU);
  font-size: 30px;
  font-weight: 500;
}
.productGrid {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.productGrid > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.productGrid > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.productGrid > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.productGrid > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.productGrid > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.productGrid > :global(.__wab_flex-container) > *,
.productGrid > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.productGrid > :global(.__wab_flex-container) > picture > img,
.productGrid
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productGrid {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .productGrid > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .productGrid > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 50px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .productGrid > :global(.__wab_flex-container) > *,
  .productGrid > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .productGrid > :global(.__wab_flex-container) > picture > img,
  .productGrid
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
.column__qR0Ef {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__hWw1W:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__hWw1W:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__ehDlj {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__ehDlj > picture > img {
  object-fit: cover;
}
.img__ehDlj > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__oWxWn:global(.__wab_instance) {
  position: relative;
}
.column__oafi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__vrQh3:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__kouv2 {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__kouv2 > picture > img {
  object-fit: cover;
}
.img__kouv2 > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings___56GiZ:global(.__wab_instance) {
  position: relative;
}
.column__xHq9N {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__ivk9C:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__sresv {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__sresv > picture > img {
  object-fit: cover;
}
.img__sresv > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__m5Bj:global(.__wab_instance) {
  position: relative;
}
.column__fGi5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__m0W0J:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__o8Pnk {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__o8Pnk > picture > img {
  object-fit: cover;
}
.img__o8Pnk > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__gmZE:global(.__wab_instance) {
  position: relative;
}
.column__p8VBw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productCard___3Hl9P:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___5CrFq {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img___5CrFq > picture > img {
  object-fit: cover;
}
.img___5CrFq > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__uImOt:global(.__wab_instance) {
  position: relative;
}
.column___7QMh7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productCard__dvVhB:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__hp1Hw {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__hp1Hw > picture > img {
  object-fit: cover;
}
.img__hp1Hw > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__yS0C4:global(.__wab_instance) {
  position: relative;
}
.column__eKy6E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productCard__cDwt:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__p34NT {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__p34NT > picture > img {
  object-fit: cover;
}
.img__p34NT > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings___64Y8N:global(.__wab_instance) {
  position: relative;
}
.column__tQraO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productCard__t87Np:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___1Xec1 {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img___1Xec1 > picture > img {
  object-fit: cover;
}
.img___1Xec1 > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings___9GrRf:global(.__wab_instance) {
  position: relative;
}
.text__edYxE {
  height: auto;
}
.featureItem:global(.__wab_instance) {
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
}
.freeBox___7Ultu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
}
.text__sZ0Ng {
  position: relative;
  color: var(--token-RlI9h6xM65mqU);
  font-size: 30px;
  font-weight: 500;
}
.columns__nOj13 {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__nOj13 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 36px);
  width: calc(100% + 36px);
}
.columns__nOj13 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__nOj13 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__nOj13 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__nOj13 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__nOj13 > :global(.__wab_flex-container) > *,
.columns__nOj13 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__nOj13 > :global(.__wab_flex-container) > picture > img,
.columns__nOj13
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 36px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nOj13 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nOj13 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nOj13 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nOj13 > :global(.__wab_flex-container) > *,
  .columns__nOj13 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__nOj13 > :global(.__wab_flex-container) > picture > img,
  .columns__nOj13
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.column__bUYvp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__h063P:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text___8EA2C {
  height: auto;
}
.text__c3Zld {
  height: auto;
}
.img__sw8Oh {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__sw8Oh > picture > img {
  object-fit: cover;
}
.img__sw8Oh > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__go0X:global(.__wab_instance) {
  position: relative;
}
.column__yAu1C {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__ylife:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__vnSoF {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__vnSoF > picture > img {
  object-fit: cover;
}
.img__vnSoF > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__cGu2B:global(.__wab_instance) {
  position: relative;
}
.column__s9Lao {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__luwqX:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__gwDpF {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__gwDpF > picture > img {
  object-fit: cover;
}
.img__gwDpF > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__uOv9A:global(.__wab_instance) {
  position: relative;
}
.column__uB51I {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__oph5S:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__oph5S:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__cXNo {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__cXNo > picture > img {
  object-fit: cover;
}
.img__cXNo > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__b05FT:global(.__wab_instance) {
  position: relative;
}
.freeBox__gTrSd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__ziYc {
  position: relative;
  color: var(--token-RlI9h6xM65mqU);
  font-size: 30px;
  font-weight: 500;
}
.columns___5KVvh {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns___5KVvh > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns___5KVvh > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns___5KVvh > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns___5KVvh > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns___5KVvh > :global(.__wab_flex-container) > *,
.columns___5KVvh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___5KVvh > :global(.__wab_flex-container) > picture > img,
.columns___5KVvh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5KVvh {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5KVvh > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5KVvh > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
.column__pVVx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__vIkml:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__i5E6S {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__i5E6S > picture > img {
  object-fit: cover;
}
.img__i5E6S > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__awgUx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__w3ThH:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__xKyfi {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__xKyfi > picture > img {
  object-fit: cover;
}
.img__xKyfi > .__wab_img-spacer > img {
  object-fit: cover;
}
.column___5XDsE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__ocodw:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__qkRaJ {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__qkRaJ > picture > img {
  object-fit: cover;
}
.img__qkRaJ > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__rBg6I {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: var(--token-eCJIU6Zp-_EqB);
  padding: 48px;
}
.freeBox__rBg6I > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__rBg6I > :global(.__wab_flex-container) > *,
.freeBox__rBg6I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rBg6I > :global(.__wab_flex-container) > picture > img,
.freeBox__rBg6I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.img__dobiC {
  position: relative;
  object-fit: cover;
  width: 90px;
  height: 60px;
  flex-shrink: 0;
}
.img__dobiC > picture > img {
  object-fit: cover;
}
.img__dobiC > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__w5H7Y {
  position: relative;
  object-fit: cover;
  width: 91px;
  height: 60px;
  flex-shrink: 0;
}
.img__w5H7Y > picture > img {
  object-fit: cover;
}
.img__w5H7Y > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__bBR4 {
  position: relative;
  object-fit: cover;
  width: 98px;
  height: 60px;
  flex-shrink: 0;
}
.img__bBR4 > picture > img {
  object-fit: cover;
}
.img__bBR4 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__ibuyr {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 60px;
  flex-shrink: 0;
}
.img__ibuyr > picture > img {
  object-fit: cover;
}
.img__ibuyr > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__faeSu {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 60px;
  flex-shrink: 0;
}
.img__faeSu > picture > img {
  object-fit: cover;
}
.img__faeSu > .__wab_img-spacer > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  position: relative;
}
